/*
body{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ecffff;
}
*/

/*Header*/
header {
    background-color: $bg-gral;
    width: 100%;
    .imagen-logo{
            width: 75px;
           border: 2px solid black;
     }
     .navbar a{
        font-size: 30px;
        text-shadow: $sombra-txt; 
     }

}
/* Main Invdex */

.titulo {
    padding: 20px;
    text-align: center;
    text-shadow: $sombra-txt; 
}

.inicioproductos{
    background-image: url(../medios/fabrica-panoramica.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    h2{
        font-size: 5rem;
        text-align: center;
        color: white;
        text-shadow: 0px 4px 13px white (0,0,0,0.5); 
    }
    ul {
        list-style-type: none;
        font-size: 3rem;
        text-shadow: $sombra-txt; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a{
            color: white;
            text-decoration: none;
        }
    }
}

/*Videos e imagenes institucionales*/
.videos{
    display: flex;
    flex-direction: row;
    .video-uno{
        display: inline-block;
    }
    .imagenes-one{
        width: 88%;
        display: flex;
        display: inline-block;
    }
    .video-dos{
        display: inline-block;
    }
    .videos-one{
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .videos {
        display: flex;
        flex-direction: column;   
    }
}

/* Enlaces de contacto */

.bg-contacto{
    background-color: $bg-gral;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: row;
    padding: 20px;
    h1{
        text-align: center;
        text-shadow: $sombra-txt; 
    }
    p{
        text-align: justify;
        padding: 20px;
    }
    form{
        font-size: 2rem;
        padding: 20px;
    }
}
.cuadro-contacto{
    display: flex;
    padding: 20px;
}

.autocompletar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}
.textarea{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .button{
        height: 30px;
        width: 60px;
    }
}

.ubicacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    img{
        height: 400px;
    }
    iframe{
        height: 400px;
    }
}

/* Seccion de Promociones */
.promociones{
    padding: 20px;
    h2{
        text-align: center;
        padding: 20px;
    }
    .promo-imagenes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        img{
            padding: 10px;
            width: 300px;
        }
    }
    .pago-imagenes{
        display: flex;
        justify-content: center;
        img{
            padding: 10px;
            width: 300px;
        }
    }   
}
